



.container{
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 321px ){
        max-width: none;
        width: 320px;
        
        padding-left: 10px;
        padding-right: 10px;
    }
    @media screen and (min-width: 550px) {
        max-width: none;
        width: 550px;
        padding-left: 25px;
        padding-right: 25px;
    }
}