

.header{
    display: flex;
    width: 100%;
    background: linear-gradient(#0F2027, #203A43, #2C5364);
    &_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_links{
        display: flex;
        margin-right: 100px;
    }
    &_link:first-child{
        margin-right: 10px;

        
    }
    &_link{
        
        &_icon{
            color: black;
            transition: color 250ms ease-in-out;
        }
        &:hover .header_link_icon,
        &:focus .header_link_icon{
            color: white;
        }
    }
        
}

